.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-right: 45px;
}

.column {
  width: 350px;
  float: left;
  margin: 0 20px;
}

.column img {
  display: block;
  margin: auto;
  height: 200px;
  max-width: 75%;
}
